# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
docker/prd/application-prd.properties
src/main/resources/application-dev.properties
.env
target/PerScholasCaseStudy-0.0.1-SNAPSHOT/WEB-INF/classes/application-dev.properties
target/classes/application-dev.properties
.idea/dataSources.xml
.idea/dataSources.local.xml

/target/PerScholasCaseStudy-0.0.1-SNAPSHOT/WEB-INF/classes
/target
